# Virtual environments & dependencies
.venv
__pycache__/
*.pyc
*.pyo
*.pyd

# Local data & dummy/test data
data/
dummy_data/
old_ref/

# Documentation & misc
docs/
misc.ipynb
misc.py

# Configs & env files
.python-version
langgraph.json
uv.lock

# Git & IDE
.git
.gitignore

# Source files you don’t want in image
app.py
main.py
test.py

# Project files not needed inside image
pyproject.toml
README.md

# Entities (TS files not used in container build)
asset.entity.ts
organisation.entity.ts
team.entity.ts
unit.entity.ts
